{{/* $authors := getJSON "/data/authors.json" */}}
{{ $authors := .Site.Data.authors }}

{{ $author := .Params.author | default .Site.Author.email }}
{{ $author := index $authors $author }}

<!-- To make sure this renders only in the article page, we check the section -->
{{ if eq .Section "post" }}
  <!-- Pagination meta tags for list pages only -->
  {{ $paginator := .Paginate (where .Pages "Section" "post") }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">

    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{end }}

    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{end }}
  {{end }}

  <meta property="og:type" content="article" />
  <meta property="article:publisher" content="https://facebook.com/{{ $author.social.facebook.username }}" />

  {{ with $author.name }}
    <meta property="og:article:author" content="{{humanize . }}" />
    <meta property="article:author" content="{{humanize . }}" />
    <meta name="author" content="{{humanize . }}" />
  {{ end }}

  {{ with.Params.categories }}
    <meta name="news_keywords" content="{{ index . 0 }}" />
    <meta property="article:section" content="{{ index . 0 }}" />
  {{ end }}

  {{ range .Params.tags }}
    <meta property="og:article:tag" content="{{ . }}" />
  {{ end }}

  <script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": "https://facebook.com/{{ $author.social.facebook.username }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Description }},
      "wordCount": {{ .WordCount }},
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "image": {
        "@type": "imageObject",
        "url": "{{ with .Params.image }}{{ . }}{{ end }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": {{ "favicon.png" | absURL }}
        }
      }
    }
  </script>
{{ else if .IsPage }}
<meta property="og:type" content="website" />
<meta name="author" content="{{ humanize $author.name }}" />
<script defer type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": {{ .Permalink }},
    "sameAs": [
      "https://facebook.com/{{ $author.social.facebook.username }}",
      "https://github.com/{{ $author.social.github.username }}"
    ],
    "name": "{{ .Title }}",
    "logo": {{ "favicon.png" | absURL }}
  }
</script>
{{ end }}
