{{ $desc := "" }}
{{ if .Params.summary }}
    {{ $desc = .Params.summary }}
{{ else if .Params.abstract }}
    {{ $desc = .Params.abstract }}
{{ else if .IsPage }}
    {{ $desc = .Summary }}
{{ else if .Site.Params.description }}
    {{ $desc = .Site.Params.description }}
{{ else }}
    {{ $desc = .Site.Params.author }}
{{ end }}

<meta name="description" content="{{ $desc }}" />
<meta itemprop="description" content="{{ $desc }}" />
<meta property="og:description" content="{{ $desc }}" />
<meta name="twitter:description" content="{{ $desc }}" />
